.Popup {
  text-align: center;
  background-color: #282c34;
  height: 363px;
  width: 250px;
  padding: 5px;
}

.Popup-header {
  text-align: left;
  font-size: calc(10px + 4vmin);
  color: white;
  display: flex;
}

.Popup-header>* {
  flex: 1 1 100px;
  margin: 10px;
}

.Popup-body{
  text-align: left;
  border-top: 1px solid gray;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Popup-settings {
  padding-top: 6px;
}

.Popup-statistics-title{
  text-align: start;
  color: white;
}

.Popup-statistics{
  text-align: center;
  color: greenyellow;
  padding-top: 13px;
}

.Popup-statistics-time{
  text-align: end;
  color: greenyellow;
  padding-top: 13px;
}

.Popup-slider{
  padding-top: 13px
}

.Popup-bottom{
  border-top: 1px solid gray;
  color: white;
  padding-top: 10px;
}

.Popup-link {
  color: #61dafb;
}

.Popup-logo {
  width: 30px;
}